body {
    background-color: aqua;
}

.sonic {
    display: flex;
    gap: 50px;
    border-bottom: 10px solid gold;
    padding-bottom: 50px;
}

.sonic img {
    height: 500px;
    width: 500px;
    border: 10px solid gold;
    border-radius: 20px;
}

.tails {
    display: flex;
    gap: 400px;
    border-bottom: 10px solid gold; 
    padding-bottom: 50px;
}

.tails img {
    height: 400px;
    width: 400px;
    border: 10px solid gold; 
    border-radius: 50px;
}

.knuckules {
    display: flex;
    gap: 100px; 
    border-bottom: 10px solid gold;
    padding-bottom: 50px;
}

.knuckules img {
    height: 300px; 
    width: 300px;
     border: 10px solid gold; 
     border-radius: 50px;
}