body {
    background-color: aqua;
}

.sonic {
    display: flex;
    gap: 20px;
    border-bottom: 10px solid gold;
    padding-bottom: 50px;
}

.sonic {
    height: 500px;
    width: 500px;
    border: 10px solid gold;
    border-radius: 20px;
}

.tails {
    display: flex;
    gap: 20px;
    border-bottom: 10px solid gold padding-bottom 50px;
}

.tails img {
    height: 500px;
    width: 500px;
    border-bottom: 10px solid gold padding-bottom 50px;
}

.knuckules{
    display: flex;
    gap: 50px
    border-bottom 10px solid gold;
}